@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Source+Sans+Pro&display=swap");

body {
    background-color: #87b1f5;
    margin: auto;
    max-width: 700px;
}

header {
    display: grid;
    grid-template-columns: auto;
    font-family: "Noto Serif", Arial, Helvetica;
    background-color: #277aff;
    border-radius: 15px;
    max-height: 100px;
}

header h1 {
    padding-left: 30px;
    grid-column: 1;
    text-align: center;
}

#autor-img {
    grid-column: 2;
    margin-top: 10px;
    margin-left: 50px;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px black;
}

main {
    background-color: #87b1f5;
    padding-left: 50px;
}

.assigment-title {
    font-family: "Noto Serif", Arial, Helvetica;
    padding-left: 20px;
}

.assigment-lists {
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 20px;
}

footer {
    background-color: #277aff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
}

#info {
    margin: 0px;
}

#lastUpdate {
    color: rgb(214, 214, 62);
    margin: 0px;
}
