@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Source+Sans+Pro&display=swap");

body {
    background-color: #b1c8ec;
    margin: auto;
    max-width: 700px;
}

header {
    font-family: "Noto Serif", Arial, Helvetica;
    background-color: #6199f5;
    border-radius: 15px;
    max-height: 100px;
}

header h1 {
    text-align: left;
    padding-left: 20px;
    font-size: 2.5em;
}

#autor-img {
    margin-right: 50px;
    max-width: 7em;
    height: auto;
    box-shadow: 5px 5px 10px black;
    float: right;
    margin-top: 20px;
}

main {
    background-color: #b1c8ec;
}

.assigment-title {
    font-family: "Noto Serif", Arial, Helvetica;
    padding-left: 20px;
    font-size: 2em;
}

.assigment-lists {
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 20px;
    font-size: 1.5em;
}

footer {
    background-color: #6199f5;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5em;
}

.link:link {
    color: rgb(0, 13, 192);
}

.link:hover {
    color: rgb(212, 14, 63);
}

.link:visited {
    color: rgb(50, 19, 98);
}

#info {
    margin: 0px;
}

#lastUpdate {
    color: rgb(229, 255, 0);
    margin: 0px;
}
