@media only screen and (min-width: 800px) {
    .header {
        max-width: 800px;
        margin: auto;
    }

    .menu {
        display: flex;
        flex-direction: row;
        background-color: #0e95ca;
    }

    #toggle-menu {
        display: none;
    }

    .nav-op {
        display: block;
        flex: 1;
    }

    .link {
        font-size: 20px;
        padding: 20px 0px 20px 0px;
    }

    .menu li a:hover {
        background-color: #055474;
        color: white;
    }

    li a {
        color: #000000;
    }

    main {
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 10px solid #055474;
        border-radius: 10px;
    }

    .bus-contact {
        max-width: 550px;
        margin-left: 20px;
    }

    #google-map {
        max-width: 800px;
        width: 800px;
    }

    form {
        width: 650px;
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
    }

    input {
        max-width: 400px;
    }

    #submit-button {
        max-width: 295px;
        width: 80%;
        margin-right: 8%;
        margin-left: 8%;
    }

    #user-message {
        max-width: 400px;
    }
}
