@media only screen and (min-width: 32.5em) {
    #the-principles {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    #intro {
        grid-column: 1 / span 2;
        text-align: center;
        padding: 0px;
    }

    #first-paragraph {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2em;
        padding-left: 15px;
    }

    #list {
        font-size: 1.5em;
        grid-column: 1 / span 2;
        margin-bottom: 20px;
    }

    #repetition {
        min-width: 250px;
        grid-column: 1;
        grid-row: 1;
        max-width: max-content;
    }

    .principle {
        font-family: "Noto Serif", Arial, Helvetica;
    }

    #first-img-micro {
        padding-bottom: 50px;
        max-width: 700px;
        height: auto;
    }

    img {
        height: auto;
    }

    .paragraph {
        font-size: 1.2em;
    }

    #visual-hierarchy {
        background-color: #6199f5;
        border-radius: 15px;
        min-width: 250px;
        grid-column: 2;
        grid-row: 1;
        margin: 0px;
        max-width: max-content;
    }

    #Fitts-law {
        grid-column: 1 / span 2;
        grid-row: 2;
        max-width: 650px;
        margin-bottom: 20px;
    }

    footer {
        font-size: 1.2em;
    }
}
