@media only screen and (min-width: 32.5em) {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Source+Sans+Pro&display=swap");

    header {
        margin-left: 34.5px;
        margin-right: 34.5px;
    }

    main {
        margin-left: 34.5px;
        margin-right: 34.5px;
    }

    #the-principles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1280px;
        column-gap: 10px;
        margin-top: 10px;
    }

    #intro {
        grid-column: 1 / span 3;
        text-align: center;
        padding: 0px;
    }

    #first-paragraph {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2em;
        padding-left: 15px;
    }

    #list {
        font-size: 1.5em;
        grid-column: 1 / span 3;
    }

    #repetition {
        min-width: 400px;
    }

    .principle {
        font-family: "Noto Serif", Arial, Helvetica;
    }

    #first-img-micro {
        padding-bottom: 50px;
        max-width: 700px;
        height: auto;
    }

    img {
        height: auto;
    }

    .paragraph {
        font-size: 1.2em;
    }

    #visual-hierarchy {
        background-color: #6199f5;
        border-radius: 15px;
        min-width: 400px;
        grid-column: 2;
    }

    #Fitts-law {
        grid-column: 3;
        min-width: 400px;
    }

    footer {
        font-size: 1.2em;
        margin-left: 34.5px;
        margin-right: 34.5px;
    }
}
