@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    text-align: center;
    font-family: "Roboto", sans-serif, serif;
    background-color: rgb(255, 230, 0);
    display: flex;
    flex-direction: column;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
    margin-bottom: 15px;
}
