@media only screen and (min-width: 945px) {
    .menu {
        display: flex;
        flex-direction: row;
        background-color: #0e95ca;
    }

    .menu li {
        display: block;
        flex: 1;
        height: 75px;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .menu li:first-child {
        display: none;
    }

    .menu a {
        font-size: 20px;
        padding: 30px 0px 45px 0px;
    }

    .menu li:hover {
        background-color: black;
        color: white;
    }

    main {
        max-width: 1000px;
    }

    footer {
        max-width: 1100px;
    }
}
