@media only screen and (min-width: 32.5em) {
    main {
        max-width: 700px;
        margin: auto;
    }

    .menu a {
        padding: 30px 185px 25px 185px;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 25px;
    }

    h2 {
        font-size: 40px;
    }

    #summary {
        font-size: 30px;
    }

    #forecast {
        font-size: 30px;
    }

    #article {
        font-size: 30px;
    }

    #contact {
        font-size: 30px;
    }

    footer {
        font-size: 25px;
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
        border-radius: 15px;
    }
}
