@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Ubuntu:wght@500&display=swap");

body {
    background-color: #c7fdbd;
}

header {
    display: flex;
    font-family: "Ubuntu", sans-serif, serif;
    background-color: #07c4aa;
}

#logo {
    max-width: 120px;
    height: auto;
}

.menu-link {
    flex: auto;
}

header h1 {
    font-size: 20px;
}

#summary h1 {
    font-family: "Ubuntu", sans-serif, serif;
    margin-left: 10px;
}

#summary h2 {
    font-size: 15px;
    font-family: "Ubuntu", sans-serif, serif;
}

.banner {
    max-width: fit-content;
    height: 150px;
}

#summary-text {
    background-color: #c7fdbd;
    border: solid #069e9e 5px;
    border-radius: 10px;
    padding-left: 10px;
}

#summary {
    font-family: "Noto Sans Display", sans-serif, helvetica;
    background-color: #069e9e;
    display: flex;
    flex-direction: column;
}

#forecast {
    display: flex;
    font-family: "Noto Sans Display", sans-serif, helvetica;
    background-color: #069e9e;
    flex-direction: column;
    margin-top: 10px;
}

#forecast h3 {
    font-family: "Ubuntu", sans-serif, serif;
}

#forecast h2 {
    font-family: "Ubuntu", sans-serif, serif;
    margin-left: 10px;
}

#forecast-text {
    background-color: #c7fdbd;
    border: solid #069e9e 5px;
    border-radius: 10px;
    padding-left: 10px;
}

article {
    padding-bottom: 10px;
}

footer {
    background-color: #0e95ca;
    margin-top: 10px;
}

#footer-content {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}

#footer-content img {
    height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer-content p {
    margin-bottom: 5px;
    margin-top: 5px;
}
