@media only screen and (min-width: 520px) {
    header div {
        justify-content: center;
        text-align: center;
    }

    .company-name-header {
        font-size: 40px;
        margin-top: 20px;
    }

    .header div p {
        text-align: center;
    }

    .mottoh {
        font-size: 20px;
    }

    .sub-options {
        background-color: rgb(67, 250, 235);
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
        padding: 30px;
    }

    .sub-options h1 {
        grid-column: 1/3;
    }

    .user-info {
        max-width: 600px;
        margin: auto;
    }

    .busisness-info {
        max-width: 600px;
        margin: auto;
        margin-top: 20px;
    }

    .text-area {
        max-width: 600px;
        margin: auto;
        margin-top: 20px;
    }

    #text-area {
        max-width: 450px;
        width: 70vw;
    }

    .member-radio {
        max-width: 600px;
        margin: auto;
        margin-top: 20px;
    }
}
