@media only screen and (min-width: 800px) {
    .header {
        max-width: 800px;
        margin: auto;
    }

    .menu {
        display: flex;
        flex-direction: row;
        background-color: #0e95ca;
    }

    #toggle-menu {
        display: none;
    }

    .nav-op {
        display: block;
        flex: 1;
    }

    .link {
        font-size: 20px;
        padding: 20px 0px 20px 0px;
    }

    .menu li a:hover {
        background-color: #055474;
        color: white;
    }

    li a {
        color: #000000;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        padding-top: 0px;
        border: 10px ridge rgb(3, 113, 146);
        border-radius: 10px;
    }

    main h1 {
        grid-column: 1/3;
        grid-row: 2;
        margin-top: 0px;
        padding-top: 0px;
    }

    .display-changer {
        display: block;
        margin-top: 10px;
        padding: 0px;
        max-width: 20px;
        max-height: 20px;
    }

    .layout-change {
        grid-column: 1/3;
        grid-row: 1;
    }

    #flex {
        left: 30px;
    }

    .opt-imgs {
        max-width: 20px;
        margin: auto;
    }

    .busisness {
        width: 300px;
        height: 90%;
    }

    .busisness p {
        font-size: 15px;
        margin: 20px;
    }

    .busisness a {
        font-size: 14px;
    }

    .responsive-main {
        display: flex;
        flex-direction: column;
    }

    .responsive-busisness {
        width: 100%;
        text-align: center;
    }

    .responsive-busisness .img-div {
        margin: auto;
    }

    .responsive-busisness p {
        margin: auto;
    }

    .img-div {
        margin: 0px;
        padding: 50px;
    }
}
