@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");

body {
    text-align: center;
    margin: auto;
}

main {
    margin: auto;
    max-width: 700px;
}

h1 {
    color: rgb(34, 117, 83);
    font-family: "Ubuntu", sans-serif;
}

.cards {
    box-shadow: 1px 0px 13px 8px grey;
    margin: 10px;
    border: 5px solid white;
}

section {
    background-color: rgb(91, 213, 218);
    margin: 5px;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    padding-top: 10px;
    margin: 0px;
    color: rgb(0, 4, 255);
}

p {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 65%;
    margin-bottom: 10px;
}

footer {
    font-family: "Roboto", sans-serif;
    padding: 10px;
}
