@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
    margin-top: 20px;
    box-shadow: 8px 8px 8px #628ca6;
}

caption {
    background-color: #7fb9c2;
    font-size: 25px;
    padding: 10px;
}

th {
    background-color: #628ca6;
    color: white;
    padding: 5px;
}

tbody tr:nth-child(2n + 1) {
    background-color: #e7f0ed;
}

tbody tr td {
    padding: 5px;
}

tbody tr:nth-child(2n) {
    background-color: #e7ffed;
}

#goal-achived {
    background-color: #628ca6;
    color: white;
}

#black-friday {
    font-style: italic;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 12px;
}

tfoot td {
    padding: 10px;
}
