@media only screen and (min-width: 945px) {
  nav {
    overflow: hidden;
  }
  .menu {
    display: flex;
    flex-direction: row;
    background-color: #0e95ca;
  }

  #toggle-menu {
    display: none;
  }

  .list-item {
    text-decoration: none;
    display: block;
    flex: 1;
  }

  .link {
    padding: 20px;
    font-size: 18px;
  }

  .menu li:hover {
    background-color: black;
    color: white;
  }

  main {
    max-width: 1000px;
  }

  footer {
    max-width: 1100px;
  }
}
