@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Ubuntu:wght@500&display=swap");

body {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    background-color: rgb(199, 253, 189);
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(0, 255, 170);
    height: 100px;
    font-size: 30px;
    border-radius: 30px;
}

header a {
    display: inline-block;
    flex-grow: 1;
    margin: 15px;
    padding-top: 10px;
}

#color1 {
    background-color: rgb(0, 255, 170);
    font-family: "Noto Sans Display", sans-serif, helvetica;
    font-size: 60px;
    margin: 0px;
}

#color2 {
    background-color: rgb(119, 255, 248);
    font-family: "Noto Sans Display", sans-serif, helvetica;
    font-size: 50px;
    margin: 0px;
}

#color3 {
    background-color: rgb(7, 196, 170);
    font-family: "Noto Sans Display", sans-serif, helvetica;
    font-size: 40px;
    margin: 0px;
}

#color4 {
    background-color: rgb(6, 158, 158);
    font-family: "Noto Sans Display", sans-serif, helvetica;
    font-size: 30px;
    margin: 0px;
}

#color5 {
    background-color: rgb(14, 149, 202);
    font-family: "Noto Sans Display", sans-serif, helvetica;
    font-size: 20px;
    margin: 0px;
}

main p {
    font-size: 30px;
    font-family: "Noto Sans Display", sans-serif, helvetica;
}

main h1 {
    font-family: "Ubuntu", sans-serif, serif;
    font-size: 30px;
}
