@media only screen and (min-width: 800px) {
    .header {
        max-width: 800px;
        margin: auto;
    }

    .menu {
        display: flex;
        flex-direction: row;
        background-color: #0e95ca;
    }

    #toggle-menu {
        display: none;
    }

    .nav-op {
        display: block;
        flex: 1;
    }

    .link {
        font-size: 20px;
        padding: 20px 0px 20px 0px;
    }

    .menu li a:hover {
        background-color: #055474;
        color: white;
    }

    li a {
        color: #000000;
    }

    main {
        margin: auto;
        max-width: 1000px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .companies {
        display: block;
        margin: 0px;
        max-width: 1000px;
        background-color: white;
        border: 0px;
    }

    .company-one {
        max-width: 600px;
        margin: 0px;
    }

    .company-two {
        margin: auto;
        max-width: 600px;
    }

    .company-tree {
        margin: 0px;
        max-width: 600px;
        float: right;
    }

    .upcoming-events {
        background-color: rgb(117, 201, 235);
        border: 5px inset rgb(3, 113, 146);
        width: 600px;
        padding: 20px;
        margin: auto;
    }
}
