body {
    background-color: aquamarine;
}

header {
    display: flex;
    text-align: center;
}

header img {
    flex: 1;
    max-width: 150px;
    height: 150px;
}

header div {
    flex: 1;
}

nav {
    background-color: rgb(16, 192, 133);
}

ul {
    margin-top: 0px;
}

main {
    background-color: rgb(1, 167, 139);
    padding: 5px 5px 1px 5px;
}

.content-box {
    background-color: rgb(4, 117, 42);
    margin: 5px 5px 0px 5px;
}

.content {
    margin: 10px;
    padding: 3px;
    text-align: center;
}

footer {
    margin-top: 15px;
    text-align: center;
}
